{% extends 'student_work/base.html' %}

{% block content %}

<div class="container mt-5 mb-4">

    {% include 'student_work/message.html' %}
    <h3 class="text-center my-5">Math Assignments</h3>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="col-6 col-sm-4">Link of Assignments</th>
                    <th>Deadline</th>
                    <th>Arrival Date</th>
                    <th>Submit</th>
                </tr>
            </thead>
            <tbody>
                {% for assignment in math_data %}
                    <tr>
                        <td>{{ assignment.title }}</td>

                        <td>
                            <a
                                href="{{ assignment.link }}"
                                data-bs-toggle="popover"
                                data-bs-content="{{ assignment.link }}"
                                data-bs-trigger="hover"
                                data-bs-placement="top"
                                role="button"
                                class="text-decoration-none text-dark"
                                target="_blank"
                                style="transition: color 0.3s;"
                            >
                                {{ assignment.link|truncatechars:20 }}
                                <button
                                    class="btn btn-sm btn-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Open in New Tab"
                                    style="pointer-events: none;"
                                >
                                    Open
                                </button>
                            </a>
                        </td>

                        <td>{{ assignment.deadline|date:"h:i A, F d, Y" }}</td>
                        <td>{{ assignment.send_time|date:"h:i A, F d, Y" }}</td>
                        <td>
                            {% if not assignment.is_submitted %}
                                <div class="modal fade" id="exampleModalMath_{{ assignment.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'submit_math_assignment' assignment_id=assignment.math_id  %}" method="post">
                                                    {% csrf_token %}
                                                    {{ math_sub_Form }}
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalMath_{{ assignment.id }}">
                                    Submit
                                </button>
                            {% else %}
                                <p>Assignment already submitted</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h4 class="text-center my-5">Lesson Assignments</h4>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Link of Assignments</th>
                    <th>Deadline</th>
                    <th>Arrival Date</th>
                    <th>Submit</th>
                </tr>
            </thead>
            <tbody>
                {% for assignment in lesson_data %}
                    <tr>
                        <td>{{ assignment.title }}</td>
                        <td>
                            <a
                                href="{{ assignment.link }}"
                                data-bs-toggle="popover"
                                data-bs-content="{{ assignment.link }}"
                                data-bs-trigger="hover"
                                data-bs-placement="top"
                                role="button"
                                class="text-decoration-none text-dark"
                                target="_blank"
                                style="transition: color 0.3s;"
                            >
                                {{ assignment.link|truncatechars:20 }}
                                <button
                                    class="btn btn-sm btn-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Open in New Tab"
                                    style="pointer-events: none;"
                                >
                                    Open
                                </button>
                            </a>
                        </td>
                        <td>{{ assignment.deadline|date:"h:i A, F d, Y" }}</td>
                        <td>{{ assignment.send_time|date:"h:i A, F d, Y" }}</td>
                        <td>
                            <div class="modal fade" id="exampleModalLesson_{{ assignment.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'submit_lesson_assignment' assignment_id=assignment.lesson_id  %}" method="post">
                                                {% csrf_token %}
                                                {{ lesson_sub_Form }}
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-success">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalLesson_{{ assignment.id }}">
                                Submit
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl);
        });

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });

    
        var clipboard = new ClipboardJS('.copy-btn');

    
        clipboard.on('success', function (e) {
            var tooltip = new bootstrap.Tooltip(e.trigger);
            tooltip.show();
        });
    });
</script>

{% endblock %}


